section.answer-your-body {
    padding: 100px 0;

    @include respond-to('lg') {
        padding: 70px 0;
    }

    @include respond-to('md') {
        padding: 70px 0;
    }

    @include respond-to('sm') {
        padding: 70px 0;
    }

    @include respond-to('xs') {
        padding: 20px 0;
    }

    @include respond-to('xxs') {
        padding: 20px 0;
    }

    .container {
        .content-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 25px;

            @include respond-to('lg') {
                gap: 15px;
            }

            @include respond-to('md') {
                gap: 15px;
            }

            @include respond-to('sm') {
                gap: 15px;
            }

            @include respond-to('xs') {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
                grid-column-gap: 0px;
                grid-row-gap: 15px;
            }

            @include respond-to('xxs') {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, auto);
                grid-column-gap: 0px;
                grid-row-gap: 15px;
            }

            [class^="content-"] {
                a {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        vertical-align: middle;

                        transform: scale(1);
                        transition: transform ease-out 0.2s;

                        &:hover {
                            transform: scale(1.04);
                        }
                    }
                }
            }

            .content-1 {
                grid-area: 1 / 1 / span 2 / span 1;

                @include respond-to('xs') {
                    grid-area: 2 / 1 / 3 / 2;
                }

                @include respond-to('xxs') {
                    grid-area: 2 / 1 / 3 / 2;
                }
            }

            .content-2 {
                grid-area: 1 / 2;

                @include respond-to('xs') {
                    grid-area: 3 / 1 / 4 / 2;
                }

                @include respond-to('xxs') {
                    grid-area: 3 / 1 / 4 / 2;
                }
            }

            .content-3 {
                grid-area: 2 / 2;

                @include respond-to('xs') {
                    grid-area: 4 / 1 / 5 / 2;
                }

                @include respond-to('xxs') {
                    grid-area: 4 / 1 / 5 / 2;
                }
            }

            .content-4 {
                grid-area: 1 / 3 / span 2 / span 1;

                @include respond-to('xs') {
                    grid-area: 1 / 1 / 2 / 2;
                }

                @include respond-to('xxs') {
                    grid-area: 1 / 1 / 2 / 2;
                }

                .copy-block {
                    h1 {
                        position: relative;
                        margin-bottom: 40px;
                        font-size: 24px;
                        font-weight: 300;
                        letter-spacing: 1.5px;

                        @include respond-to('lg') {
                            font-size: 14px;
                        }

                        @include respond-to('md') {
                            font-size: 14px;
                        }

                        @include respond-to('sm') {
                            font-size: 14px;
                        }

                        @include respond-to('xs') {
                            margin-bottom: 35px;
                            font-size: 14px;
                        }

                        @include respond-to('xxs') {
                            margin-bottom: 35px;
                            font-size: 14px;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -15px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: $white;
                        }
                    }

                    p {
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 1.7;

                        @include respond-to('lg') {
                            font-size: 12px;
                        }

                        @include respond-to('md') {
                            font-size: 12px;
                        }

                        @include respond-to('sm') {
                            font-size: 12px;
                        }

                        @include respond-to('xs') {
                            font-size: 12px;
                        }

                        @include respond-to('xxs') {
                            font-size: 12px;
                        }
                    }
                }

                .reminder-block {
                    margin-top: 40px;

                    @include respond-to('lg') {
                        margin-top: 30px;
                    }

                    @include respond-to('md') {
                        margin-top: 30px;
                    }

                    @include respond-to('sm') {
                        margin-top: 30px;
                    }

                    @include respond-to('xs') {
                        margin-top: 20px;
                    }

                    @include respond-to('xxs') {
                        margin-top: 20px;
                    }

                    h2 {
                        margin-bottom: 10px;
                        color: $red;
                        font-size: 16px;
                        font-weight: 500;

                        @include respond-to('lg') {
                            font-size: 12px;
                        }

                        @include respond-to('md') {
                            font-size: 12px;
                        }

                        @include respond-to('sm') {
                            font-size: 12px;
                        }

                        @include respond-to('xs') {
                            font-size: 12px;
                        }

                        @include respond-to('xxs') {
                            font-size: 12px;
                        }
                    }

                    p {
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 1.7;

                        @include respond-to('lg') {
                            font-size: 12px;
                        }

                        @include respond-to('md') {
                            font-size: 12px;
                        }

                        @include respond-to('sm') {
                            font-size: 12px;
                        }

                        @include respond-to('xs') {
                            font-size: 12px;
                        }

                        @include respond-to('xxs') {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}