/* Global styles */
body {
    margin: initial;
    background-color: $black;
    font-family: $OpenSans;
}

/* Main content styling */
.main-content {
    padding: 80px 0;

    /* Responsive padding */
    @include respond-to('lg') {
        padding: 50px 0;
    }

    @include respond-to('md') {
        padding: 50px 0;
    }

    @include respond-to('sm') {
        padding: 50px 0;
    }

    @include respond-to('xs') {
        padding: 10px 0;
    }

    @include respond-to('xxs') {
        padding: 10px 0;
    }
}

/* Container styling */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;

    /* Responsive container width */
    @include respond-to('lg') {
        max-width: 775px;
    }

    @include respond-to('md') {
        max-width: 775px;
    }

    @include respond-to('sm') {
        max-width: 775px;
    }

    @include respond-to('xs') {
        max-width: 775px;
    }

    @include respond-to('xxs') {
        max-width: 775px;
    }
}

/* Heading and paragraph styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: initial;
    color: $white;
    text-transform: uppercase;
}

p {
    margin: initial;
    color: $white;
}